@import "variables";

@mixin box-shadow( $horizontalLength, $verticalLength, $blur, $spread, $color ) {
	-webkit-box-shadow: $horizontalLength $verticalLength $blur $spread $color;
	-moz-box-shadow: $horizontalLength $verticalLength $blur $spread $color;
	box-shadow: $horizontalLength $verticalLength $blur $spread $color;
}

@mixin respond-to($media) {
	@if $media == handhelds {
		@media only screen and (max-width: $break-small) {
			@content;
		}
	} @else if $media == medium-screens {
		@media only screen and (min-width: $break-small + 1) and (max-width: $break-medium - 1) {
			@content;
		}
	} @else if $media == wide-screens {
		@media only screen and (min-width: $break-medium) {
			@content;
		}
	}
}
