@import '~gridle';
@import 'variables';

@include gridle_setup();

@include gridle_register_state ( mobile , (
		max-width : $break-small

) );

@include gridle_register_state ( tablet , (
		min-width : $break-small + 1,
		max-width : $break-medium
) ) ;