@import 'settings';
@import "variables";

@include gridle_generate_classes ();

html, body, #root {
	height: 100%;
}

body {
	padding: 0;
	margin: 0;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-justify {
	text-align: justify;
}

.web {
	min-height: 100%;
	position: relative;
}

.container {
	max-width: 960px;
	margin: 0 auto;
	padding: 0.5rem 0 4rem 0;
}

.footer {
	background-color: $primary2Color;
	color: $alternateTextColor;
	height: 3rem;
	line-height: 3rem;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
}

.crop{
	overflow: hidden;
}