@import "mixins";
@import "variables";

.progress{
	padding: 1rem 0 6rem 0;
}

.tasks-table{
	margin: 0 2rem 0 2rem;
	padding-bottom: 5rem;

	.row{
		padding: 1rem;
		border-bottom: 1px solid $primary3Color;
	}

	.header{
		background-color: $accentColor;
		color: $alternateTextColor;
		font-weight: bold;
	}

	.action-btn{
		min-width: 40px !important;
		opacity: 0.3;

		&:hover{
			opacity: 1;
		}
	}
}

.quotation{
	padding: 1rem;
}

.edit-description{
	padding: 1rem;

	.editor{
		width: 100% !important;
	}
}