@import "mixins";
@import "variables";

.header {
	padding: 1rem;
}

.web-language-button {
	min-width: 0 !important;
}

.menu-button{
	margin-left: 0.5rem;

	@include respond-to(handhelds) {
		margin: 0.2rem;
	}
}

.task-form {
	margin: 1rem 0 1rem 0;

	.text-field {
		margin: 1rem 0 1rem 0;
		width: 90% !important;
		max-width: 960px;
	}

	.timer {
		font-size: 2rem;

		.timer-number {
			border: 1px solid $primary1Color;
			display: inline-flex;
			margin: 0.5rem;
			padding: 1rem;
			border-radius: 50%;
			background-color: $primary3Color;
			text-align: center;
			@include box-shadow( 1px, 1px, 5px, 1px, rgba(88, 88, 88, 0.75));

			&:first-child{
				background-color: $primary1Color;
				color: $alternateTextColor
			}
			&:last-child{
				background-color: $accentColor;
			}

			.timer-text{
				width: 2.5rem;
				text-align: center;
			}
		}
	}

	.action-button{
		margin-top: 1.5rem;
		width: 100%;
	}
}

.btns-container{
	height: 4rem;
}